.outputImage {
    background-color: rgba(1, 1, 1, 0.61);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    color: white;
    min-width: 300px;
    max-width: 100%;
    min-height: 400px;
    object-fit: contain;
}

.uploadImage .uploadButton {
    border: none;
    background-color: rgb(202, 202, 202);
    transition: all 0.2s ease;
}

.uploadImage:hover {
    background-color: rgb(119, 119, 119);
    cursor: pointer;
    width: 100px;
    height: 20px;
    
}

.uploadImage:active {
    transform: scale(0.9, 0.9);
}