@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #fff;
    --red-alert: #ff27273d;
  }

  @theme {
    --color-red-alert: var(--red-alert);
  }

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

h1, h2, h3, h4, h5, h6 {
  font-size: revert !important;
  font-weight: revert !important;
}

ol, ul, menu {
	list-style: inherit !important;
}

.markdown a {
  color: var(--color-blue-400);
  font-weight: bold;
}

.markdown a:hover {
  text-decoration: underline;
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
