<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Font Families -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script defer src="https://umami-fawn-alpha.vercel.app/script.js" data-website-id="f8c7d385-6727-4a68-88ed-fe9032feb4dd"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">

    <style>
        .nunito-sans {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500;
        }
    </style>
    <!-- End of font families -->

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "5c2bff58f4d947fbbcf28b588c074de6"}'></script><!-- End Cloudflare Web Analytics -->

    <script src="https://unpkg.com/html2canvas@1.4.1/dist/html2canvas.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9758035810696915"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script defer src="/js/banners.js"></script>

    <title>Caption It | MeminIt</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta charset="utf-8" />

    <meta property="og:title" content="Caption It" />
    <meta property="og:description"
        content="Caption your image or static GIF right here with 3 clicks 🤩" />
    <meta property="og:image" content="/assets/images/captionit.webp" />

    <meta property="og:width" content="1920">
    <meta property="og:height" content="1080">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="Caption your image or static GIF right here with 3 clicks 🤩">

    <meta property="og:url" content="https://meminit.github.io/tools/captionit">

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/simple.css">
    <link rel="stylesheet" href="/css/tools/default.css">
    <link rel="stylesheet" href="/css/tools/captionit.css">
    <script defer src="/js/all.min.js"></script>

</head>

<body ng-app=""
    ng-init="caption='Your Image Caption'; picture='/assets/images/dog.webp'; textcolor='black'; font='var(--font)'">
    <header class="mainheader">
        <div class="titleHolder">
            <img alt="logo" src="/assets/images/assets_images_cooldude.webp" class="titlemoji">
            <p class="sitetitle"><span class="orangespan">Memin</span> It</p>
        </div>
        <div class="shortcuts">
            <a href="/home"><i class="fa-solid fa-house href-icon"></i> <span>Home</span></a>
            <a href="/tools"><i class="fa-solid fa-screwdriver-wrench href-icon"></i><span>Tools</span></a>
            <a href="/suggestions"><i class="fa-regular fa-lightbulb href-icon"></i> <span>Suggestions</span> </a>
            <a href="/about"><i class="fa-solid fa-circle-question href-icon"></i> <span>About</span></a>
            <a href="/blog"><i class="fa-solid fa-book-open href-icon"></i> <span>Blog</span></a>
            <a href="/discord" target="_blank"><i class="fa-brands fa-discord href-icon"></i><span>Discord</span></a>
        </div>
    </header>

    <div class="blind">
        <h1><span class="orangespan">Caption</span> It</h1>
        <p style="margin: 0; font-size: smaller;">Caption any image you want 😎</p>
    </div>

    <div class="container">
        <div class="innerContainer row-center">
            <div class="inputHolder">
                <label>Photo</label>
                <input id="picture" style="display: none;" type="file" accept="image/*" onchange="changePicture()">
                <button title="Upload Image" class="defaultInput" onclick="document.getElementById('picture').click()">
                    <i class="fa-solid fa-upload"></i>
                </button>
                <label>Caption</label>
                <input type="text" placeholder="Username" class="defaultInput text" id="username" ng-model="caption">
                <label>Font</label>
                <select title="Font Family" class="defaultInput" ng-model="font">
                    <option value="var(--font)">Default</option>
                </select>
                <!--  <label>Align</label> -->
            </div>
            <div class="previewHolder">
                <div class="previewFrame" aria-hidden="true">
                    <p ng-style="{'color': textcolor, 'font-family': font, 'font-size': 'xx-large', 'font-weight': '700', 'margin': '5px 0', 'text-align': 'center'}">{{caption}}</p>
                    <img id="captionedpicture" alt="" src="{{picture}}">
                </div>
                <button class="defaultInput" title="Download" style="margin-top: 10px; width:100%;"
                    onclick="snapshotElement('.previewFrame')">
                    <i class="fa-solid fa-download"></i>
                    Download
                </button>
            </div>
        </div>
    </div>

    <div class="container blurbg md" style="text-align: center;">
        <style>
            .htu {
                font-size: larger;
                font-weight: bold;
                margin: 5px;
            }
        </style>
        <h2>Free Online Image Captioner</h2>
        <p>Have you ever wanted to make your meme funnier? Enrich your meme? This will please those needs.</p>
        <p>The Online Image Captioner captions your images quickly and efficiently. This tool can caption about all image types and
            add some flavour to your meme!<br>
        <p class="htu">How to caption your image:</p>
        <ul>
            <li>Upload your image by clicking the <b>Upload Image</b> button.</li>
            <li>Type in your caption in the <b>Caption</b> textbox.</li>
            <li>Click the <b>Caption It</b> button.</li>
            <li>If <b>all this works</b>, you should see the captioned image, and the download button! You can download the image by clicking the button.</li>
        </ul>
        <br><br><b>Try it now to add some tang into your memes!</b>
        </p>
    </div>

    <footer class="mainFooter">
        <img class="titlemoji" alt="MeminIt Logo/Mascot" src="/assets/images/assets_images_cooldude.webp">
        <p>
            <b>MeminIt</b>
            <br>
            by <span class="orangespan">itsprobablyjackson</span>
        </p>

        <div style="display: flex; flex-direction: column; gap: 2px;">
        <a class="linfoHyperlink" href="mailto:itsprobablyjackson@proton.me?subject=To%20MeminIt"
            target="_blank">Contact Us</a>
        <a href="/privacy" class="linfoHyperlink">Privacy Policy</a>
        <a class="linfoHyperlink" href="/discord" target="_blank">Our Discord</a>
    </div>
    </footer>

    <script>
        function snapshotElement(selector) {
            const element = document.querySelector(selector);
            const loadingScreen = document.querySelector('.loadingFrame')

            const originalDisplay = element.style.display;

            loadingScreen.style.display = 'flex';
            element.style.display = 'flex';


            html2canvas(element, {
                useCORS: true,
                backgroundColor: 'black'
            }).then(canvas => {

                const link = document.createElement('a');
                link.download = 'captionit_meminit.png';
                link.href = canvas.toDataURL('image/png');
                link.click();

                element.style.display = originalDisplay;
                loadingScreen.style.display = 'none';
            }).catch(error => {
                console.error('Error capturing the element:', error);

                loadingScreen.style.display = 'none';
                element.style.display = originalDisplay;
            });
        }

        function changePicture() {
            const rawFile = document.querySelector('#picture').files[0];
            const reader = new FileReader();

            reader.readAsDataURL(rawFile);

            reader.onload = () => {
                const scope = angular.element(document.getElementById('captionedpicture')).scope();
                scope.$apply(() => {
                    scope.picture = reader.result;
                });
            };
        }
    </script>

    <div class="loadingFrame">
        <span class="loader"></span>
        <p>Rendering...</p>
    </div>

    <!-- <div class="exportFrame" style="display: none;" aria-hidden="true">
    <img alt="Profile Picture" src="{{profilepicture}}" class="exportPFP ng-binding profilepicture" style="filter:grayscale();">
    <img alt="gradient" src="/assets/images/gradient.png" class="gradient">
    <div class="textContent">
        <p class="nunito-sans quote">{{quote}}</p>
        <p class="nunito-sans displayname"><span style="font-style: italic;">- {{displayname}}</span></p>
        <p class="nunito-sans username">@{{username}}</p>
        <p class="nunito-sans watermark">meminit.github.io</p>
    </div>
</div> -->

</body>

</html>